<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3 Процессы - Выполнение задания</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3 &#1055;&#1088;&#1086;&#1094;&#1077;&#1089;&#1089;&#1099; - &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-347e4d67c2cb4478a29315ea042aefca.png" alt="3 Процессы - Выполнение задания" usemap="#id-347e4d67c2cb4478a29315ea042aefcamap"/>
			   <map name="id-347e4d67c2cb4478a29315ea042aefcamap">
				  		<area shape="rect" coords="592,454,712,509" href="../elements/id-4abe386792fa407c96a5e9a8d320d39d.html"  target="element">
				  		<area shape="rect" coords="304,454,425,509" href="../elements/id-198da2dd51764f37adf1ca9f8df5c8f3.html"  target="element">
				  		<area shape="rect" coords="16,454,136,509" href="../elements/id-bdbb32978962413682d9988862b333f4.html"  target="element">
				  		<area shape="rect" coords="16,310,136,359" href="../elements/id-e3323a03362a47959a0e990532b5148a.html"  target="element">
				  		<area shape="rect" coords="448,454,568,509" href="../elements/id-b96677c00b65415cb06e3551580007ec.html"  target="element">
				  		<area shape="rect" coords="172,454,269,509" href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html"  target="element">
				  		<area shape="rect" coords="10,382,142,431" href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html"  target="element">
				  		<area shape="rect" coords="16,154,136,209" href="../elements/id-a1c01298d6674e78af8c3be308b1f1d0.html"  target="element">
				  						<area shape="rect" coords="507,346,627,401" href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html"  target="element">
				  						<area shape="rect" coords="375,346,495,401" href="../elements/id-97e5d02c93fe4305b5b568ae33cefae8.html"  target="element">
				  						<area shape="rect" coords="243,346,363,401" href="../elements/id-1a813a266de64bd5a0f2986c989f2b44.html"  target="element">

				  				<area shape="rect" coords="231,310,640,407" href="../elements/id-034904fad49246a08eaee32b72009e03.html"  target="element">
				  				<area shape="rect" coords="544,226,677,281" href="../elements/id-ac4d627f8ebd4663be11cfdcc9609df6.html"  target="element">
				  				<area shape="rect" coords="495,130,510,145" href="../elements/id-109e69610f8e4146aa02ba3d676d2568.html"  target="element">
				  				<area shape="rect" coords="508,61,665,113" href="../elements/id-b50c38d905f44d99b32aec1c83c5d8e8.html"  target="element">
				  				<area shape="rect" coords="376,61,496,110" href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html"  target="element">
				  				<area shape="rect" coords="328,226,448,281" href="../elements/id-b404ea5843b049d082fefcd3c4b15ec6.html"  target="element">
				  				<area shape="rect" coords="486,250,501,265" href="../elements/id-45466a3d941b447d81905cbe32dbe04b.html"  target="element">
				  				<area shape="rect" coords="434,154,554,203" href="../elements/id-0da87acf569247c19db6c11081897b08.html"  target="element">
				  				<area shape="rect" coords="196,58,316,119" href="../elements/id-2b9e144cb0a6468fb082bb1d819a99fc.html"  target="element">
				  				<area shape="rect" coords="196,151,316,206" href="../elements/id-f65f6785fa6143baaf951bf3ce3cfeea.html"  target="element">

				  		<area shape="rect" coords="184,10,689,419" href="../elements/id-2bd9882034874749b4c658be0284b1e3.html"  target="element">
				  		<area shape="rect" coords="16,58,136,113" href="../elements/id-5861914e23a84df1977fd9181ed45003.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-5861914e23a84df1977fd9181ed45003.html" target="element"> &#1055;&#1091;&#1073;&#1083;&#1080;&#1082;&#1072;&#1094;&#1080;&#1103; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
											    <td> <a href="../elements/id-5861914e23a84df1977fd9181ed45003.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
											    <td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f65f6785fa6143baaf951bf3ce3cfeea.html" target="element"> &#1055;&#1091;&#1073;&#1083;&#1080;&#1082;&#1072;&#1094;&#1080;&#1103; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
													    <td> <a href="../elements/id-f65f6785fa6143baaf951bf3ce3cfeea.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2b9e144cb0a6468fb082bb1d819a99fc.html" target="element"> &#1054;&#1073;&#1089;&#1091;&#1078;&#1076;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; / &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
													    <td> <a href="../elements/id-2b9e144cb0a6468fb082bb1d819a99fc.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0da87acf569247c19db6c11081897b08.html" target="element"> &#1055;&#1088;&#1086;&#1074;&#1077;&#1088;&#1082;&#1072; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
													    <td> <a href="../elements/id-0da87acf569247c19db6c11081897b08.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-45466a3d941b447d81905cbe32dbe04b.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/id-45466a3d941b447d81905cbe32dbe04b.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b404ea5843b049d082fefcd3c4b15ec6.html" target="element"> &#1042;&#1086;&#1079;&#1074;&#1088;&#1072;&#1090; &#1085;&#1072; &#1076;&#1086;&#1088;&#1072;&#1073;&#1086;&#1090;&#1082;&#1091; </a> </td>
													    <td> <a href="../elements/id-b404ea5843b049d082fefcd3c4b15ec6.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1072;&#1074;&#1090;&#1086;-&#1090;&#1077;&#1089;&#1090;&#1086;&#1074; </a> </td>
													    <td> <a href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b50c38d905f44d99b32aec1c83c5d8e8.html" target="element"> &#1055;&#1088;&#1086;&#1074;&#1077;&#1088;&#1082;&#1072; &#1086;&#1092;&#1086;&#1088;&#1084;&#1083;&#1077;&#1085;&#1080;&#1103; &#1082;&#1086;&#1076;&#1072; </a> </td>
													    <td> <a href="../elements/id-b50c38d905f44d99b32aec1c83c5d8e8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-109e69610f8e4146aa02ba3d676d2568.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/id-109e69610f8e4146aa02ba3d676d2568.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac4d627f8ebd4663be11cfdcc9609df6.html" target="element"> &#1054;&#1094;&#1077;&#1085;&#1082;&#1072; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
													    <td> <a href="../elements/id-ac4d627f8ebd4663be11cfdcc9609df6.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-034904fad49246a08eaee32b72009e03.html" target="element"> &#1056;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
													    <td> <a href="../elements/id-034904fad49246a08eaee32b72009e03.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-1a813a266de64bd5a0f2986c989f2b44.html" target="element"> &#1048;&#1079;&#1091;&#1095;&#1077;&#1085;&#1080;&#1077; &#1084;&#1072;&#1090;&#1077;&#1088;&#1080;&#1072;&#1083;&#1086;&#1074; </a> </td>
															    <td> <a href="../elements/id-1a813a266de64bd5a0f2986c989f2b44.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-97e5d02c93fe4305b5b568ae33cefae8.html" target="element"> &#1057;&#1086;&#1079;&#1076;&#1072;&#1085;&#1080;&#1077; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
															    <td> <a href="../elements/id-97e5d02c93fe4305b5b568ae33cefae8.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1072;&#1074;&#1090;&#1086;-&#1090;&#1077;&#1089;&#1090;&#1086;&#1074; </a> </td>
															    <td> <a href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-a1c01298d6674e78af8c3be308b1f1d0.html" target="element"> &#1050;&#1086;&#1085;&#1089;&#1091;&#1083;&#1100;&#1090;&#1072;&#1094;&#1080;&#1103; </a> </td>
											    <td> <a href="../elements/id-a1c01298d6674e78af8c3be308b1f1d0.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element"> &#1055;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100; </a> </td>
											    <td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element"> &#1047;&#1072;&#1076;&#1072;&#1085;&#1080;&#1077; </a> </td>
											    <td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b96677c00b65415cb06e3551580007ec.html" target="element"> &#1056;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077; </a> </td>
											    <td> <a href="../elements/id-b96677c00b65415cb06e3551580007ec.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e3323a03362a47959a0e990532b5148a.html" target="element"> &#1057;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090; </a> </td>
											    <td> <a href="../elements/id-e3323a03362a47959a0e990532b5148a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bdbb32978962413682d9988862b333f4.html" target="element"> &#1058;&#1077;&#1084;&#1072; </a> </td>
											    <td> <a href="../elements/id-bdbb32978962413682d9988862b333f4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-198da2dd51764f37adf1ca9f8df5c8f3.html" target="element"> &#1052;&#1077;&#1090;&#1086;&#1076;&#1080;&#1095;&#1077;&#1089;&#1082;&#1080;&#1077; &#1084;&#1072;&#1090;&#1077;&#1088;&#1080;&#1072;&#1083;&#1099; </a> </td>
											    <td> <a href="../elements/id-198da2dd51764f37adf1ca9f8df5c8f3.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4abe386792fa407c96a5e9a8d320d39d.html" target="element"> &#1069;&#1090;&#1072;&#1083;&#1086;&#1085;&#1085;&#1086;&#1077; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077; </a> </td>
											    <td> <a href="../elements/id-4abe386792fa407c96a5e9a8d320d39d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c5d53c333b74494c9d9a362cfd0b1b9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5d53c333b74494c9d9a362cfd0b1b9d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5861914e23a84df1977fd9181ed45003.html" target="element"> &#1055;&#1091;&#1073;&#1083;&#1080;&#1082;&#1072;&#1094;&#1080;&#1103; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a673b553c59f4c598c2d33e26822a4c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a673b553c59f4c598c2d33e26822a4c2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																		<td> <a href="../elements/id-2b9e144cb0a6468fb082bb1d819a99fc.html" target="element"> &#1054;&#1073;&#1089;&#1091;&#1078;&#1076;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; / &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2e2470faa12149bb99a2b0a0b6980ba7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e2470faa12149bb99a2b0a0b6980ba7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																		<td> <a href="../elements/id-0da87acf569247c19db6c11081897b08.html" target="element"> &#1055;&#1088;&#1086;&#1074;&#1077;&#1088;&#1082;&#1072; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-45dde9fa30d9468e85156b7a14fb8572.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-45dde9fa30d9468e85156b7a14fb8572.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																		<td> <a href="../elements/id-b96677c00b65415cb06e3551580007ec.html" target="element"> &#1056;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-051236089cb243498c298dc028a20865.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-051236089cb243498c298dc028a20865.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																		<td> <a href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1072;&#1074;&#1090;&#1086;-&#1090;&#1077;&#1089;&#1090;&#1086;&#1074; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e5bfca9ad9046ea821fd6e323c60985.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e5bfca9ad9046ea821fd6e323c60985.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																		<td> <a href="../elements/id-b50c38d905f44d99b32aec1c83c5d8e8.html" target="element"> &#1055;&#1088;&#1086;&#1074;&#1077;&#1088;&#1082;&#1072; &#1086;&#1092;&#1086;&#1088;&#1084;&#1083;&#1077;&#1085;&#1080;&#1103; &#1082;&#1086;&#1076;&#1072; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7034b340ef904efcb82f2f40ff0eff0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7034b340ef904efcb82f2f40ff0eff0f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																		<td> <a href="../elements/id-ac4d627f8ebd4663be11cfdcc9609df6.html" target="element"> &#1054;&#1094;&#1077;&#1085;&#1082;&#1072; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6c2f91e9fac04c058de583e19f81212b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c2f91e9fac04c058de583e19f81212b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																		<td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element"> &#1047;&#1072;&#1076;&#1072;&#1085;&#1080;&#1077; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-3e42fc85dfab48fb85c1b6f2453a215a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3e42fc85dfab48fb85c1b6f2453a215a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f65f6785fa6143baaf951bf3ce3cfeea.html" target="element"> &#1055;&#1091;&#1073;&#1083;&#1080;&#1082;&#1072;&#1094;&#1080;&#1103; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
																				<td> <a href="../elements/id-0da87acf569247c19db6c11081897b08.html" target="element"> &#1055;&#1088;&#1086;&#1074;&#1077;&#1088;&#1082;&#1072; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9db3a78d6ebd40aa95f8b912b8cddd59.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9db3a78d6ebd40aa95f8b912b8cddd59.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f65f6785fa6143baaf951bf3ce3cfeea.html" target="element"> &#1055;&#1091;&#1073;&#1083;&#1080;&#1082;&#1072;&#1094;&#1080;&#1103; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
																				<td> <a href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1072;&#1074;&#1090;&#1086;-&#1090;&#1077;&#1089;&#1090;&#1086;&#1074; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dddc4d590fa44b85bbbad04c9f16c608.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dddc4d590fa44b85bbbad04c9f16c608.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f65f6785fa6143baaf951bf3ce3cfeea.html" target="element"> &#1055;&#1091;&#1073;&#1083;&#1080;&#1082;&#1072;&#1094;&#1080;&#1103; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
																				<td> <a href="../elements/id-b50c38d905f44d99b32aec1c83c5d8e8.html" target="element"> &#1055;&#1088;&#1086;&#1074;&#1077;&#1088;&#1082;&#1072; &#1086;&#1092;&#1086;&#1088;&#1084;&#1083;&#1077;&#1085;&#1080;&#1103; &#1082;&#1086;&#1076;&#1072; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ec116853257543708f8f5e9626dc4bbf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ec116853257543708f8f5e9626dc4bbf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2b9e144cb0a6468fb082bb1d819a99fc.html" target="element"> &#1054;&#1073;&#1089;&#1091;&#1078;&#1076;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; / &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
																				<td> <a href="../elements/id-a1c01298d6674e78af8c3be308b1f1d0.html" target="element"> &#1050;&#1086;&#1085;&#1089;&#1091;&#1083;&#1100;&#1090;&#1072;&#1094;&#1080;&#1103; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d172a176680443139634dc44b0e15600.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d172a176680443139634dc44b0e15600.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0da87acf569247c19db6c11081897b08.html" target="element"> &#1055;&#1088;&#1086;&#1074;&#1077;&#1088;&#1082;&#1072; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
																				<td> <a href="../elements/id-45466a3d941b447d81905cbe32dbe04b.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d17c8e573fc7472bbf7709e6ac73a331.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d17c8e573fc7472bbf7709e6ac73a331.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-45466a3d941b447d81905cbe32dbe04b.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/id-ac4d627f8ebd4663be11cfdcc9609df6.html" target="element"> &#1054;&#1094;&#1077;&#1085;&#1082;&#1072; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-04405161dae24a87a4235a6689abd9dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-04405161dae24a87a4235a6689abd9dd.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-45466a3d941b447d81905cbe32dbe04b.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/id-b404ea5843b049d082fefcd3c4b15ec6.html" target="element"> &#1042;&#1086;&#1079;&#1074;&#1088;&#1072;&#1090; &#1085;&#1072; &#1076;&#1086;&#1088;&#1072;&#1073;&#1086;&#1090;&#1082;&#1091; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6959f0b74db14215b909e88b24473514.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6959f0b74db14215b909e88b24473514.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b404ea5843b049d082fefcd3c4b15ec6.html" target="element"> &#1042;&#1086;&#1079;&#1074;&#1088;&#1072;&#1090; &#1085;&#1072; &#1076;&#1086;&#1088;&#1072;&#1073;&#1086;&#1090;&#1082;&#1091; </a> </td>
																				<td> <a href="../elements/id-034904fad49246a08eaee32b72009e03.html" target="element"> &#1056;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-016f6a8874eb420b938c755d90332ac8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-016f6a8874eb420b938c755d90332ac8.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1072;&#1074;&#1090;&#1086;-&#1090;&#1077;&#1089;&#1090;&#1086;&#1074; </a> </td>
																				<td> <a href="../elements/id-109e69610f8e4146aa02ba3d676d2568.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0407f875976141faaa2547c39825a744.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0407f875976141faaa2547c39825a744.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b50c38d905f44d99b32aec1c83c5d8e8.html" target="element"> &#1055;&#1088;&#1086;&#1074;&#1077;&#1088;&#1082;&#1072; &#1086;&#1092;&#1086;&#1088;&#1084;&#1083;&#1077;&#1085;&#1080;&#1103; &#1082;&#1086;&#1076;&#1072; </a> </td>
																				<td> <a href="../elements/id-109e69610f8e4146aa02ba3d676d2568.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-265aa20adcff494cb5e6564bcc7e9959.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-265aa20adcff494cb5e6564bcc7e9959.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-109e69610f8e4146aa02ba3d676d2568.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/id-0da87acf569247c19db6c11081897b08.html" target="element"> &#1055;&#1088;&#1086;&#1074;&#1077;&#1088;&#1082;&#1072; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-bf7468481d4f44a8a24e15bbc05b3482.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bf7468481d4f44a8a24e15bbc05b3482.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-034904fad49246a08eaee32b72009e03.html" target="element"> &#1056;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																				<td> <a href="../elements/id-1a813a266de64bd5a0f2986c989f2b44.html" target="element"> &#1048;&#1079;&#1091;&#1095;&#1077;&#1085;&#1080;&#1077; &#1084;&#1072;&#1090;&#1077;&#1088;&#1080;&#1072;&#1083;&#1086;&#1074; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8b8a1fe314cd47fbbe246a7911cfe96d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8b8a1fe314cd47fbbe246a7911cfe96d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-034904fad49246a08eaee32b72009e03.html" target="element"> &#1056;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																				<td> <a href="../elements/id-97e5d02c93fe4305b5b568ae33cefae8.html" target="element"> &#1057;&#1086;&#1079;&#1076;&#1072;&#1085;&#1080;&#1077; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1ce413544a74437cb2279ac527e0bcc4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1ce413544a74437cb2279ac527e0bcc4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-034904fad49246a08eaee32b72009e03.html" target="element"> &#1056;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																				<td> <a href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1072;&#1074;&#1090;&#1086;-&#1090;&#1077;&#1089;&#1090;&#1086;&#1074; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2c6e3ad1e05a4698b82f323a553b1561.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2c6e3ad1e05a4698b82f323a553b1561.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-034904fad49246a08eaee32b72009e03.html" target="element"> &#1056;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																				<td> <a href="../elements/id-f65f6785fa6143baaf951bf3ce3cfeea.html" target="element"> &#1055;&#1091;&#1073;&#1083;&#1080;&#1082;&#1072;&#1094;&#1080;&#1103; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1103; </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-6a08c71d76654de3a0f98e2fe9e006a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a08c71d76654de3a0f98e2fe9e006a8.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a1c01298d6674e78af8c3be308b1f1d0.html" target="element"> &#1050;&#1086;&#1085;&#1089;&#1091;&#1083;&#1100;&#1090;&#1072;&#1094;&#1080;&#1103; </a> </td>
																		<td> <a href="../elements/id-e3323a03362a47959a0e990532b5148a.html" target="element"> &#1057;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1805e301882a48b288eb9748d7eb9777.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1805e301882a48b288eb9748d7eb9777.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element"> &#1055;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100; </a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b670ecd5f3244e91be5166a58cd3acff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b670ecd5f3244e91be5166a58cd3acff.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element"> &#1047;&#1072;&#1076;&#1072;&#1085;&#1080;&#1077; </a> </td>
																		<td> <a href="../elements/id-198da2dd51764f37adf1ca9f8df5c8f3.html" target="element"> &#1052;&#1077;&#1090;&#1086;&#1076;&#1080;&#1095;&#1077;&#1089;&#1082;&#1080;&#1077; &#1084;&#1072;&#1090;&#1077;&#1088;&#1080;&#1072;&#1083;&#1099; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-327f11ebe4ba45718622a3e689ee37e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-327f11ebe4ba45718622a3e689ee37e4.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3323a03362a47959a0e990532b5148a.html" target="element"> &#1057;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090; </a> </td>
																		<td> <a href="../elements/id-034904fad49246a08eaee32b72009e03.html" target="element"> &#1056;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-72abfa75f8704630b6dc2c75c385be43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72abfa75f8704630b6dc2c75c385be43.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bdbb32978962413682d9988862b333f4.html" target="element"> &#1058;&#1077;&#1084;&#1072; </a> </td>
																		<td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element"> &#1047;&#1072;&#1076;&#1072;&#1085;&#1080;&#1077; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2aa23e8add1d43ef84e92f4d571d9658.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2aa23e8add1d43ef84e92f4d571d9658.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4abe386792fa407c96a5e9a8d320d39d.html" target="element"> &#1069;&#1090;&#1072;&#1083;&#1086;&#1085;&#1085;&#1086;&#1077; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077; </a> </td>
																		<td> <a href="../elements/id-b96677c00b65415cb06e3551580007ec.html" target="element"> &#1056;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>