<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>5 Технологии</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>5 &#1058;&#1077;&#1093;&#1085;&#1086;&#1083;&#1086;&#1075;&#1080;&#1080;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e04952b5bf474736b45cc0602e977d51.png" alt="5 Технологии" usemap="#id-e04952b5bf474736b45cc0602e977d51map"/>
			   <map name="id-e04952b5bf474736b45cc0602e977d51map">
				  		<area shape="rect" coords="279,510,399,565" href="../elements/id-c3a8fdfbf11d4fdeb163631ee7157dc7.html"  target="element">
				  		<area shape="rect" coords="615,510,772,565" href="../elements/id-02d6f79ef3924e6ebed97b42df62a625.html"  target="element">
				  		<area shape="rect" coords="436,340,556,395" href="../elements/id-e18656ec41c84d38a096dd118bb5903d.html"  target="element">
				  		<area shape="rect" coords="436,510,556,565" href="../elements/id-fed7ad189fb14d80898d7dd15c14e320.html"  target="element">
				  		<area shape="rect" coords="10,423,149,487" href="../elements/id-05fb3bee02e449fabd6f3f3418619c3d.html"  target="element">
				  		<area shape="rect" coords="118,510,238,565" href="../elements/id-73e72b445fb24f458ef6c8869782d8e3.html"  target="element">
				  		<area shape="rect" coords="279,423,399,478" href="../elements/id-edbd5b4aceb84768b4351bae506788e4.html"  target="element">
				  		<area shape="rect" coords="10,282,149,366" href="../elements/id-05f1158dcddd4c0fb86b0ac905803a59.html"  target="element">
				  		<area shape="rect" coords="207,282,341,366" href="../elements/id-1d896d3f9ace4a1a94e6901fb152384e.html"  target="element">
				  		<area shape="rect" coords="435,423,556,478" href="../elements/id-4e814787a1be46e29048b187f9fa1ed4.html"  target="element">
				  		<area shape="rect" coords="436,246,556,301" href="../elements/id-d738af1c87da484da4231f186c8e10a1.html"  target="element">
				  		<area shape="rect" coords="10,190,169,247" href="../elements/id-09b3c5b1c0b04445894d4ce1deecdabf.html"  target="element">
				  		<area shape="rect" coords="10,70,94,94" href="../elements/id-bb11bf5042d14e1098d9a554b3866da6.html"  target="element">
				  		<area shape="rect" coords="106,69,191,94" href="../elements/id-0d3aeeb36a5b4ec7921dfe962bf349fa.html"  target="element">
				  		<area shape="rect" coords="46,10,166,43" href="../elements/id-75832751dde74dec960c387b99c049d5.html"  target="element">
				  				<area shape="rect" coords="730,46,863,101" href="../elements/id-6b0f76119e6b420d80713fec04fc88fc.html"  target="element">
				  						<area shape="rect" coords="730,226,850,281" href="../elements/id-169c6cd19579405d9bfc095318ed04f7.html"  target="element">
				  						<area shape="rect" coords="791,154,911,209" href="../elements/id-6888973fbaa54240938d5a8d9fda594a.html"  target="element">
				  						<area shape="rect" coords="658,154,778,209" href="../elements/id-86b1b58d3cb24f47aa93c68c4cdfff84.html"  target="element">
				  						<area shape="rect" coords="791,298,911,347" href="../elements/id-060d1e1e0e814470b3a851ba44de495d.html"  target="element">
				  						<area shape="rect" coords="658,298,778,347" href="../elements/id-59756fc8841642a3839bbada3d0cf041.html"  target="element">
				  						<area shape="rect" coords="730,382,850,431" href="../elements/id-fc8a9863c9d74bb08b1710965ab82e98.html"  target="element">

				  				<area shape="rect" coords="646,118,935,443" href="../elements/id-37e9050c264e4d109c04c677d25721b7.html"  target="element">

				  		<area shape="rect" coords="634,10,953,455" href="../elements/id-536b5fa2be7042479b6df48e59d97a6f.html"  target="element">
				  				<area shape="rect" coords="430,148,563,203" href="../elements/id-0b917961b78e47e694441f37359d4ee0.html"  target="element">
				  				<area shape="rect" coords="250,150,395,201" href="../elements/id-5c64b278548f4a5fb23056c74c9870f8.html"  target="element">
				  				<area shape="rect" coords="430,77,563,132" href="../elements/id-ad79c2a4b1af425cb860126ce6844b0e.html"  target="element">
				  				<area shape="rect" coords="250,77,395,132" href="../elements/id-ad47b819e3fc4b71b4b47f897e918a35.html"  target="element">

				  		<area shape="rect" coords="226,42,588,227" href="../elements/id-282c8e0e36444e408e6a4633484bdb9c.html"  target="element">
				  		<area shape="rect" coords="10,119,169,176" href="../elements/id-9ec67b54e10c4f44b8f0dc97ff170585.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9ec67b54e10c4f44b8f0dc97ff170585.html" target="element"> IDE </a> </td>
											    <td> <a href="../elements/id-9ec67b54e10c4f44b8f0dc97ff170585.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-282c8e0e36444e408e6a4633484bdb9c.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072;/&#1087;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1103; </a> </td>
											    <td> <a href="../elements/id-282c8e0e36444e408e6a4633484bdb9c.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ad47b819e3fc4b71b4b47f897e918a35.html" target="element"> &#1055;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1100;&#1085;&#1099;&#1081; &#1082;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; </a> </td>
													    <td> <a href="../elements/id-ad47b819e3fc4b71b4b47f897e918a35.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ad79c2a4b1af425cb860126ce6844b0e.html" target="element"> Windows 10 </a> </td>
													    <td> <a href="../elements/id-ad79c2a4b1af425cb860126ce6844b0e.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5c64b278548f4a5fb23056c74c9870f8.html" target="element"> Windows API </a> </td>
													    <td> <a href="../elements/id-5c64b278548f4a5fb23056c74c9870f8.html" target="element" class="i18n-elementtype-TechnologyInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0b917961b78e47e694441f37359d4ee0.html" target="element"> WSL </a> </td>
													    <td> <a href="../elements/id-0b917961b78e47e694441f37359d4ee0.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-536b5fa2be7042479b6df48e59d97a6f.html" target="element"> GitHub Server (SaaS) </a> </td>
											    <td> <a href="../elements/id-536b5fa2be7042479b6df48e59d97a6f.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-37e9050c264e4d109c04c677d25721b7.html" target="element"> GitHub Runner </a> </td>
													    <td> <a href="../elements/id-37e9050c264e4d109c04c677d25721b7.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-fc8a9863c9d74bb08b1710965ab82e98.html" target="element"> Ubuntu Server 24 </a> </td>
															    <td> <a href="../elements/id-fc8a9863c9d74bb08b1710965ab82e98.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-59756fc8841642a3839bbada3d0cf041.html" target="element"> Docker 26.0 </a> </td>
															    <td> <a href="../elements/id-59756fc8841642a3839bbada3d0cf041.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-060d1e1e0e814470b3a851ba44de495d.html" target="element"> Bash </a> </td>
															    <td> <a href="../elements/id-060d1e1e0e814470b3a851ba44de495d.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-86b1b58d3cb24f47aa93c68c4cdfff84.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1072;&#1074;&#1090;&#1086;&#1090;&#1077;&#1089;&#1090;&#1086;&#1074; </a> </td>
															    <td> <a href="../elements/id-86b1b58d3cb24f47aa93c68c4cdfff84.html" target="element" class="i18n-elementtype-TechnologyFunction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-6888973fbaa54240938d5a8d9fda594a.html" target="element"> &#1055;&#1088;&#1086;&#1074;&#1077;&#1088;&#1082;&#1072; &#1086;&#1092;&#1086;&#1088;&#1084;&#1083;&#1077;&#1085;&#1080;&#1103; &#1082;&#1086;&#1076;&#1072; </a> </td>
															    <td> <a href="../elements/id-6888973fbaa54240938d5a8d9fda594a.html" target="element" class="i18n-elementtype-TechnologyFunction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-169c6cd19579405d9bfc095318ed04f7.html" target="element"> CI/CD &#1087;&#1088;&#1086;&#1094;&#1077;&#1089;&#1089; </a> </td>
															    <td> <a href="../elements/id-169c6cd19579405d9bfc095318ed04f7.html" target="element" class="i18n-elementtype-TechnologyFunction">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-6b0f76119e6b420d80713fec04fc88fc.html" target="element"> &#1061;&#1086;&#1089;&#1090;&#1080;&#1085;&#1075; &#1088;&#1077;&#1087;&#1086;&#1079;&#1080;&#1090;&#1086;&#1088;&#1080;&#1077;&#1074; </a> </td>
													    <td> <a href="../elements/id-6b0f76119e6b420d80713fec04fc88fc.html" target="element" class="i18n-elementtype-TechnologyFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-75832751dde74dec960c387b99c049d5.html" target="element">  &#1048;&#1085;&#1090;&#1077;&#1088;&#1085;&#1077;&#1090; </a> </td>
											    <td> <a href="../elements/id-75832751dde74dec960c387b99c049d5.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0d3aeeb36a5b4ec7921dfe962bf349fa.html" target="element"> HTTPS </a> </td>
											    <td> <a href="../elements/id-0d3aeeb36a5b4ec7921dfe962bf349fa.html" target="element" class="i18n-elementtype-Path">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bb11bf5042d14e1098d9a554b3866da6.html" target="element"> SSH </a> </td>
											    <td> <a href="../elements/id-bb11bf5042d14e1098d9a554b3866da6.html" target="element" class="i18n-elementtype-Path">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-09b3c5b1c0b04445894d4ce1deecdabf.html" target="element"> web-browser </a> </td>
											    <td> <a href="../elements/id-09b3c5b1c0b04445894d4ce1deecdabf.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d738af1c87da484da4231f186c8e10a1.html" target="element"> Docker Desktop </a> </td>
											    <td> <a href="../elements/id-d738af1c87da484da4231f186c8e10a1.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4e814787a1be46e29048b187f9fa1ed4.html" target="element"> ci-actions.yml </a> </td>
											    <td> <a href="../elements/id-4e814787a1be46e29048b187f9fa1ed4.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1d896d3f9ace4a1a94e6901fb152384e.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1080;&#1081; &#1088;&#1077;&#1087;&#1086;&#1079;&#1080;&#1090;&#1086;&#1088;&#1080;&#1081; &#1084;&#1072;&#1090;&#1077;&#1088;&#1080;&#1072;&#1083;&#1086;&#1074; &#1082;&#1091;&#1088;&#1089;&#1072; </a> </td>
											    <td> <a href="../elements/id-1d896d3f9ace4a1a94e6901fb152384e.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-05f1158dcddd4c0fb86b0ac905803a59.html" target="element"> &#1041;&#1072;&#1079;&#1086;&#1074;&#1099;&#1081; &#1088;&#1077;&#1087;&#1086;&#1079;&#1080;&#1090;&#1086;&#1088;&#1080;&#1081; &#1084;&#1072;&#1090;&#1077;&#1088;&#1080;&#1072;&#1083;&#1086;&#1074; &#1082;&#1091;&#1088;&#1089;&#1072; </a> </td>
											    <td> <a href="../elements/id-05f1158dcddd4c0fb86b0ac905803a59.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-edbd5b4aceb84768b4351bae506788e4.html" target="element"> &#1042;&#1077;&#1090;&#1082;&#1072; &#1089; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1077;&#1084; </a> </td>
											    <td> <a href="../elements/id-edbd5b4aceb84768b4351bae506788e4.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-73e72b445fb24f458ef6c8869782d8e3.html" target="element"> &#1042;&#1077;&#1090;&#1082;&#1072; &#1089; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077;&#1084; </a> </td>
											    <td> <a href="../elements/id-73e72b445fb24f458ef6c8869782d8e3.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-05fb3bee02e449fabd6f3f3418619c3d.html" target="element"> &#1042;&#1077;&#1090;&#1082;&#1072; &#1089; &#1101;&#1090;&#1072;&#1083;&#1086;&#1085;&#1085;&#1099;&#1084; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077;&#1084; </a> </td>
											    <td> <a href="../elements/id-05fb3bee02e449fabd6f3f3418619c3d.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fed7ad189fb14d80898d7dd15c14e320.html" target="element"> README.md </a> </td>
											    <td> <a href="../elements/id-fed7ad189fb14d80898d7dd15c14e320.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e18656ec41c84d38a096dd118bb5903d.html" target="element"> CI  c&#1094;&#1077;&#1085;&#1072;&#1088;&#1080;&#1081;  </a> </td>
											    <td> <a href="../elements/id-e18656ec41c84d38a096dd118bb5903d.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-02d6f79ef3924e6ebed97b42df62a625.html" target="element"> &#1048;&#1085;&#1089;&#1090;&#1088;&#1091;&#1082;&#1094;&#1080;&#1103; &#1087;&#1086; &#1074;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1102; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
											    <td> <a href="../elements/id-02d6f79ef3924e6ebed97b42df62a625.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c3a8fdfbf11d4fdeb163631ee7157dc7.html" target="element"> &#1060;&#1072;&#1081;&#1083; &#1089; &#1082;&#1086;&#1076;&#1086;&#1084; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
											    <td> <a href="../elements/id-c3a8fdfbf11d4fdeb163631ee7157dc7.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9d4316591ecb422eb59b7a29a189535b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d4316591ecb422eb59b7a29a189535b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-282c8e0e36444e408e6a4633484bdb9c.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072;/&#1087;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1103; </a> </td>
																		<td> <a href="../elements/id-ad47b819e3fc4b71b4b47f897e918a35.html" target="element"> &#1055;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1100;&#1085;&#1099;&#1081; &#1082;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-970e2e7381cf491a951839636933104a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-970e2e7381cf491a951839636933104a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-282c8e0e36444e408e6a4633484bdb9c.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072;/&#1087;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1103; </a> </td>
																		<td> <a href="../elements/id-ad79c2a4b1af425cb860126ce6844b0e.html" target="element"> Windows 10 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-845061fc6355478fbfeb86358a4345f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-845061fc6355478fbfeb86358a4345f2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-282c8e0e36444e408e6a4633484bdb9c.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072;/&#1087;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1103; </a> </td>
																		<td> <a href="../elements/id-5c64b278548f4a5fb23056c74c9870f8.html" target="element"> Windows API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b6328ae12a8043fc8642db22b305a1fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6328ae12a8043fc8642db22b305a1fc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-282c8e0e36444e408e6a4633484bdb9c.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072;/&#1087;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1103; </a> </td>
																		<td> <a href="../elements/id-0b917961b78e47e694441f37359d4ee0.html" target="element"> WSL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ef2180d72b340cd956cc190789cc490.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ef2180d72b340cd956cc190789cc490.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-282c8e0e36444e408e6a4633484bdb9c.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072;/&#1087;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1103; </a> </td>
																		<td> <a href="../elements/id-1d896d3f9ace4a1a94e6901fb152384e.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1080;&#1081; &#1088;&#1077;&#1087;&#1086;&#1079;&#1080;&#1090;&#1086;&#1088;&#1080;&#1081; &#1084;&#1072;&#1090;&#1077;&#1088;&#1080;&#1072;&#1083;&#1086;&#1074; &#1082;&#1091;&#1088;&#1089;&#1072; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-4bdf6b1e0aac4f65b5f6a079d571f3ce.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4bdf6b1e0aac4f65b5f6a079d571f3ce.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad47b819e3fc4b71b4b47f897e918a35.html" target="element"> &#1055;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1100;&#1085;&#1099;&#1081; &#1082;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; </a> </td>
																				<td> <a href="../elements/id-ad79c2a4b1af425cb860126ce6844b0e.html" target="element"> Windows 10 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b14bcb4800ea4c6185e65f7bb48b62d0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b14bcb4800ea4c6185e65f7bb48b62d0.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad47b819e3fc4b71b4b47f897e918a35.html" target="element"> &#1055;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1100;&#1085;&#1099;&#1081; &#1082;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; </a> </td>
																				<td> <a href="../elements/id-0b917961b78e47e694441f37359d4ee0.html" target="element"> WSL </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-64f807a21cc34c7e9e7c916e01ea2944.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-64f807a21cc34c7e9e7c916e01ea2944.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5c64b278548f4a5fb23056c74c9870f8.html" target="element"> Windows API </a> </td>
																				<td> <a href="../elements/id-9ec67b54e10c4f44b8f0dc97ff170585.html" target="element"> IDE </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-41b00e67493f4675949c04809eabdbe9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-41b00e67493f4675949c04809eabdbe9.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5c64b278548f4a5fb23056c74c9870f8.html" target="element"> Windows API </a> </td>
																				<td> <a href="../elements/id-09b3c5b1c0b04445894d4ce1deecdabf.html" target="element"> web-browser </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c36523adbb79487cabdd6978899405c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c36523adbb79487cabdd6978899405c9.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0b917961b78e47e694441f37359d4ee0.html" target="element"> WSL </a> </td>
																				<td> <a href="../elements/id-d738af1c87da484da4231f186c8e10a1.html" target="element"> Docker Desktop </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3c2a42fa7705476a9ca94ca76ccc82f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c2a42fa7705476a9ca94ca76ccc82f2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-536b5fa2be7042479b6df48e59d97a6f.html" target="element"> GitHub Server (SaaS) </a> </td>
																		<td> <a href="../elements/id-75832751dde74dec960c387b99c049d5.html" target="element">  &#1048;&#1085;&#1090;&#1077;&#1088;&#1085;&#1077;&#1090; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-88c20e3c41ad4d23876953fbdcd89e76.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88c20e3c41ad4d23876953fbdcd89e76.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-536b5fa2be7042479b6df48e59d97a6f.html" target="element"> GitHub Server (SaaS) </a> </td>
																		<td> <a href="../elements/id-37e9050c264e4d109c04c677d25721b7.html" target="element"> GitHub Runner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e8d2e38334f48869d959767fead84a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e8d2e38334f48869d959767fead84a0.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-536b5fa2be7042479b6df48e59d97a6f.html" target="element"> GitHub Server (SaaS) </a> </td>
																		<td> <a href="../elements/id-6b0f76119e6b420d80713fec04fc88fc.html" target="element"> &#1061;&#1086;&#1089;&#1090;&#1080;&#1085;&#1075; &#1088;&#1077;&#1087;&#1086;&#1079;&#1080;&#1090;&#1086;&#1088;&#1080;&#1077;&#1074; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-40a59f907d3b4f13bf518a6bc9e284d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-40a59f907d3b4f13bf518a6bc9e284d6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-536b5fa2be7042479b6df48e59d97a6f.html" target="element"> GitHub Server (SaaS) </a> </td>
																		<td> <a href="../elements/id-1d896d3f9ace4a1a94e6901fb152384e.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1080;&#1081; &#1088;&#1077;&#1087;&#1086;&#1079;&#1080;&#1090;&#1086;&#1088;&#1080;&#1081; &#1084;&#1072;&#1090;&#1077;&#1088;&#1080;&#1072;&#1083;&#1086;&#1074; &#1082;&#1091;&#1088;&#1089;&#1072; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-08222a28203c4aca939459334056b3df.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-08222a28203c4aca939459334056b3df.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-37e9050c264e4d109c04c677d25721b7.html" target="element"> GitHub Runner </a> </td>
																				<td> <a href="../elements/id-86b1b58d3cb24f47aa93c68c4cdfff84.html" target="element"> &#1042;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1077; &#1072;&#1074;&#1090;&#1086;&#1090;&#1077;&#1089;&#1090;&#1086;&#1074; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1f3e41ab63aa4aafbfc0df2f52ce881f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1f3e41ab63aa4aafbfc0df2f52ce881f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-37e9050c264e4d109c04c677d25721b7.html" target="element"> GitHub Runner </a> </td>
																				<td> <a href="../elements/id-6888973fbaa54240938d5a8d9fda594a.html" target="element"> &#1055;&#1088;&#1086;&#1074;&#1077;&#1088;&#1082;&#1072; &#1086;&#1092;&#1086;&#1088;&#1084;&#1083;&#1077;&#1085;&#1080;&#1103; &#1082;&#1086;&#1076;&#1072; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dff77a03f86a42d98e061b8535a1cc45.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dff77a03f86a42d98e061b8535a1cc45.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-37e9050c264e4d109c04c677d25721b7.html" target="element"> GitHub Runner </a> </td>
																				<td> <a href="../elements/id-169c6cd19579405d9bfc095318ed04f7.html" target="element"> CI/CD &#1087;&#1088;&#1086;&#1094;&#1077;&#1089;&#1089; </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-4521ca0d86884048bc504d606b571d51.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-4521ca0d86884048bc504d606b571d51.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fc8a9863c9d74bb08b1710965ab82e98.html" target="element"> Ubuntu Server 24 </a> </td>
																						<td> <a href="../elements/id-59756fc8841642a3839bbada3d0cf041.html" target="element"> Docker 26.0 </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-ecb5511aff5942038d6c098a3114bb73.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-ecb5511aff5942038d6c098a3114bb73.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fc8a9863c9d74bb08b1710965ab82e98.html" target="element"> Ubuntu Server 24 </a> </td>
																						<td> <a href="../elements/id-060d1e1e0e814470b3a851ba44de495d.html" target="element"> Bash </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-20de897880b646b5b98ff0a4368e369a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20de897880b646b5b98ff0a4368e369a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75832751dde74dec960c387b99c049d5.html" target="element">  &#1048;&#1085;&#1090;&#1077;&#1088;&#1085;&#1077;&#1090; </a> </td>
																		<td> <a href="../elements/id-0d3aeeb36a5b4ec7921dfe962bf349fa.html" target="element"> HTTPS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f2ba4138f7b5430799d56ea3decdaa6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2ba4138f7b5430799d56ea3decdaa6d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75832751dde74dec960c387b99c049d5.html" target="element">  &#1048;&#1085;&#1090;&#1077;&#1088;&#1085;&#1077;&#1090; </a> </td>
																		<td> <a href="../elements/id-bb11bf5042d14e1098d9a554b3866da6.html" target="element"> SSH </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e4d59ce7adc240f3bff92fb1167a66a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e4d59ce7adc240f3bff92fb1167a66a7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75832751dde74dec960c387b99c049d5.html" target="element">  &#1048;&#1085;&#1090;&#1077;&#1088;&#1085;&#1077;&#1090; </a> </td>
																		<td> <a href="../elements/id-ad47b819e3fc4b71b4b47f897e918a35.html" target="element"> &#1055;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1100;&#1085;&#1099;&#1081; &#1082;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d8fe9fe8ac99405794edf0cfafdfc970.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d8fe9fe8ac99405794edf0cfafdfc970.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4e814787a1be46e29048b187f9fa1ed4.html" target="element"> ci-actions.yml </a> </td>
																		<td> <a href="../elements/id-e18656ec41c84d38a096dd118bb5903d.html" target="element"> CI  c&#1094;&#1077;&#1085;&#1072;&#1088;&#1080;&#1081;  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7e01146915c64a50bd1720ff6c25cefe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e01146915c64a50bd1720ff6c25cefe.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1d896d3f9ace4a1a94e6901fb152384e.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1080;&#1081; &#1088;&#1077;&#1087;&#1086;&#1079;&#1080;&#1090;&#1086;&#1088;&#1080;&#1081; &#1084;&#1072;&#1090;&#1077;&#1088;&#1080;&#1072;&#1083;&#1086;&#1074; &#1082;&#1091;&#1088;&#1089;&#1072; </a> </td>
																		<td> <a href="../elements/id-edbd5b4aceb84768b4351bae506788e4.html" target="element"> &#1042;&#1077;&#1090;&#1082;&#1072; &#1089; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1077;&#1084; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f19540f73b384bdba1f6fc277e7288fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f19540f73b384bdba1f6fc277e7288fd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1d896d3f9ace4a1a94e6901fb152384e.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1080;&#1081; &#1088;&#1077;&#1087;&#1086;&#1079;&#1080;&#1090;&#1086;&#1088;&#1080;&#1081; &#1084;&#1072;&#1090;&#1077;&#1088;&#1080;&#1072;&#1083;&#1086;&#1074; &#1082;&#1091;&#1088;&#1089;&#1072; </a> </td>
																		<td> <a href="../elements/id-73e72b445fb24f458ef6c8869782d8e3.html" target="element"> &#1042;&#1077;&#1090;&#1082;&#1072; &#1089; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077;&#1084; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e40072ccddba42ee98e09cf58c23c977.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e40072ccddba42ee98e09cf58c23c977.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-05f1158dcddd4c0fb86b0ac905803a59.html" target="element"> &#1041;&#1072;&#1079;&#1086;&#1074;&#1099;&#1081; &#1088;&#1077;&#1087;&#1086;&#1079;&#1080;&#1090;&#1086;&#1088;&#1080;&#1081; &#1084;&#1072;&#1090;&#1077;&#1088;&#1080;&#1072;&#1083;&#1086;&#1074; &#1082;&#1091;&#1088;&#1089;&#1072; </a> </td>
																		<td> <a href="../elements/id-1d896d3f9ace4a1a94e6901fb152384e.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1080;&#1081; &#1088;&#1077;&#1087;&#1086;&#1079;&#1080;&#1090;&#1086;&#1088;&#1080;&#1081; &#1084;&#1072;&#1090;&#1077;&#1088;&#1080;&#1072;&#1083;&#1086;&#1074; &#1082;&#1091;&#1088;&#1089;&#1072; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0eb3013a33024174863573d5278e3399.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0eb3013a33024174863573d5278e3399.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-05f1158dcddd4c0fb86b0ac905803a59.html" target="element"> &#1041;&#1072;&#1079;&#1086;&#1074;&#1099;&#1081; &#1088;&#1077;&#1087;&#1086;&#1079;&#1080;&#1090;&#1086;&#1088;&#1080;&#1081; &#1084;&#1072;&#1090;&#1077;&#1088;&#1080;&#1072;&#1083;&#1086;&#1074; &#1082;&#1091;&#1088;&#1089;&#1072; </a> </td>
																		<td> <a href="../elements/id-05fb3bee02e449fabd6f3f3418619c3d.html" target="element"> &#1042;&#1077;&#1090;&#1082;&#1072; &#1089; &#1101;&#1090;&#1072;&#1083;&#1086;&#1085;&#1085;&#1099;&#1084; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077;&#1084; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0140718590a140e89709de58aa3b9b43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0140718590a140e89709de58aa3b9b43.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edbd5b4aceb84768b4351bae506788e4.html" target="element"> &#1042;&#1077;&#1090;&#1082;&#1072; &#1089; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1077;&#1084; </a> </td>
																		<td> <a href="../elements/id-4e814787a1be46e29048b187f9fa1ed4.html" target="element"> ci-actions.yml </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-140b23f99a8e4318996d66c80da60d35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-140b23f99a8e4318996d66c80da60d35.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edbd5b4aceb84768b4351bae506788e4.html" target="element"> &#1042;&#1077;&#1090;&#1082;&#1072; &#1089; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1077;&#1084; </a> </td>
																		<td> <a href="../elements/id-fed7ad189fb14d80898d7dd15c14e320.html" target="element"> README.md </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aa13f57863854ae2b383e14a96348e2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa13f57863854ae2b383e14a96348e2d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edbd5b4aceb84768b4351bae506788e4.html" target="element"> &#1042;&#1077;&#1090;&#1082;&#1072; &#1089; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1077;&#1084; </a> </td>
																		<td> <a href="../elements/id-c3a8fdfbf11d4fdeb163631ee7157dc7.html" target="element"> &#1060;&#1072;&#1081;&#1083; &#1089; &#1082;&#1086;&#1076;&#1086;&#1084; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-be09d7512cca49cebba847b478e3eee0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be09d7512cca49cebba847b478e3eee0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73e72b445fb24f458ef6c8869782d8e3.html" target="element"> &#1042;&#1077;&#1090;&#1082;&#1072; &#1089; &#1088;&#1077;&#1096;&#1077;&#1085;&#1080;&#1077;&#1084; </a> </td>
																		<td> <a href="../elements/id-edbd5b4aceb84768b4351bae506788e4.html" target="element"> &#1042;&#1077;&#1090;&#1082;&#1072; &#1089; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1077;&#1084; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-37ebe09941854c1ca0f8074428161af3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37ebe09941854c1ca0f8074428161af3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fed7ad189fb14d80898d7dd15c14e320.html" target="element"> README.md </a> </td>
																		<td> <a href="../elements/id-02d6f79ef3924e6ebed97b42df62a625.html" target="element"> &#1048;&#1085;&#1089;&#1090;&#1088;&#1091;&#1082;&#1094;&#1080;&#1103; &#1087;&#1086; &#1074;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085;&#1080;&#1102; &#1079;&#1072;&#1076;&#1072;&#1085;&#1080;&#1103; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>